In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
file_path = Path('Output_df.csv')
new_df = pd.read_csv(file_path)
new_df

,Unnamed: 0,IsFraud?,Amount,Card,Year,Month,Day,MCC,Chip Transaction,Online Transaction,Swipe Transaction
0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
60574835,30287415,NaN,88.41,0.0,2010.0,8.0,10.0,5300.0,0.0,1.0,0.0
60574836,30287416,NaN,20.88,0.0,2010.0,2.0,2.0,5970.0,0.0,1.0,0.0
60574837,30287417,NaN,97.15,3.0,2019.0,1.0,15.0,5211.0,1.0,0.0,0.0
60574838,30287418,NaN,88.08,4.0,2010.0,12.0,9.0,4121.0,0.0,1.0,0.0
60574839,30287419,NaN,1.02,5.0,2012.0,5.0,13.0,5651.0,0.0,0.0,1.0

In [3]:
new_df['IsFraud?'].value_counts()

0.0    15143710
1.0    15143710
Name: IsFraud?, dtype: int64

In [4]:
new_df.isna().sum()

Unnamed: 0                   0
IsFraud?              30287420
Amount                30287420
Card                  30287420
Year                  30287420
Month                 30287420
Day                   30287420
MCC                   30287420
Chip Transaction      30287420
Online Transaction    30287420
Swipe Transaction     30287420
dtype: int64

In [6]:
new_df['Chip Transaction'].value_counts()

0.0    22995443
1.0     7291977
Name: Chip Transaction, dtype: int64

In [7]:
new_df['Online Transaction'].value_counts()

0.0    18567661
1.0    11719759
Name: Online Transaction, dtype: int64

In [8]:
new_df['Swipe Transaction'].value_counts()

0.0    19011736
1.0    11275684
Name: Swipe Transaction, dtype: int64

In [9]:
new_df['MCC'].value_counts()

5311.0    3067130
5411.0    2231126
5300.0    1864924
5541.0    1791585
5499.0    1775684
           ...
7549.0       8088
7531.0       7313
7276.0       4321
8931.0       4169
1711.0       3721
Name: MCC, Length: 109, dtype: int64

In [10]:
new_df['IsFraud?'].value_counts()

0.0    15143710
1.0    15143710
Name: IsFraud?, dtype: int64

In [17]:
for year in new_df['Year'].unique():
    print(year, new_df[new_df['Year']==year] ['IsFraud?'].value_counts())

nan Series([], Name: IsFraud?, dtype: int64)
2013.0 Series([], Name: IsFraud?, dtype: int64)
2017.0 Series([], Name: IsFraud?, dtype: int64)
2007.0 Series([], Name: IsFraud?, dtype: int64)
2008.0 Series([], Name: IsFraud?, dtype: int64)
2015.0 Series([], Name: IsFraud?, dtype: int64)
2016.0 Series([], Name: IsFraud?, dtype: int64)
2014.0 Series([], Name: IsFraud?, dtype: int64)
2019.0 Series([], Name: IsFraud?, dtype: int64)
2011.0 Series([], Name: IsFraud?, dtype: int64)
2012.0 Series([], Name: IsFraud?, dtype: int64)
2009.0 Series([], Name: IsFraud?, dtype: int64)
2010.0 Series([], Name: IsFraud?, dtype: int64)
2018.0 Series([], Name: IsFraud?, dtype: int64)